@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  height: auto;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: #9ebabe;
}

.nav-sec {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-CT {
  width: 20rem;
}

.nav-ol {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-ol > li {
  margin: 2rem;
  font-size: 2rem;
}

.menu-bar{
  display: none;
   font-size: 3rem;
}

.section1 {
  height: 90vh;
  width: 100vw;
  background-color: #9ebabe;
  position: relative;
}

.sec1-img {
  position: absolute;
  bottom: 0%;
  right: 5%;
  width: 38vw;
}

.sec1-img2 {
    display: none;
    width: 90vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.sec1-txts {
  font-size: 7rem;
  position: absolute;
  bottom: 20%;
  left: 10%;
  color: white;
  
}

.sec1-i-text {
  font-weight: bold;
  border-bottom: 3px solid;
}

.section2{
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow: hidden;
}

.product{
  font-size: 5rem;
  text-align: center;
}

.cGroup{
  height: 45rem;
  width: 30rem;
  margin: 1rem;
  border: 1px solid #f0f0f0;
  position: relative;
}

.photo{
  height: 85%;
  background-color: #f7f7f7;
  display: grid;
  place-items: center;
}

.bottom{
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 95%;
   margin: 0 auto;
}

.b-para{
  font-size: 1.3rem;
}

.price{
  font-size: 1.8rem;
}

.b-botton{
  background-color: #59AF0F;
  border: none;
  color: white;
  padding:0.8rem;
  font-size: 1.6rem;
}

.heart{
  position: absolute;
  top: 3%;
  right: 3%;
  height: 4rem;
  width: 4rem;
  border: 1px solid white;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 2.5rem;
  background-color: #FF0000;

}
footer{
  height: auto;
  text-align: center;
  padding-top: 2rem;
}
.footer-logo{
  width: 25rem;
}

.f-para{
  font-size: 1.5rem;
  margin: 0 auto;
  color: #808080;
}

.f-C-info{
  font-size:1.6rem ;
  font-weight: 500;
}

.f-rights{
  color: #AEAEAE;
  font-size: 1.5rem;
  font-weight:500;
  height: 5rem;
  display: grid;
  place-items: center;
  border-top: 1px solid #eaeaea;
}

@media screen and (max-width: 380px) and (min-height:600px){

  html{
    font-size: 40%;
  }

  .section1{
    height: 70vh;
  }
  .sec1-img2{
    display: block;

  }

  .sec1-img{
    display: none;
  }

  .sec1-txts{
    bottom: 0rem;
    width: 100%;
    left: 0;
    text-align: center;
    font-size: 5rem;
  }

  .nav-ol{
    display: none;
  }

  .menu-bar{
    display: block;
  }

  .f-para{
    width: 80%;
    margin: 0 auto;
  }


}

@media screen and (min-width:381px) and (max-width: 530px) and (min-height:700px){
  html {
    font-size: 45%;
  }

  /* .logo-CT {
    width: 30vw;
  } */

  .section1 {
    height: 60vh;
  }

  .sec1-img {
    display: none;
  }

  .sec1-img2 {
    display: block;

  }

  .sec1-txts {
    font-size: 5rem;
    bottom: 0%;
    left: 0;
    text-align: center;
    width: 100%;
  }

  .cGroup{
    height: 38rem;
    width: 24rem;
  }


  .nav-ol{
    display: none;
  }

  .menu-bar{
    display: block;
  }

  .f-para{
    width: 80%;
    margin: 0 auto;
  }

}

@media screen and (min-width:531px) and (max-width:1200px) and (min-height:700px){
  html{
    font-size: 55%;
  }
  .sec1-img{
    display: none;
  }

  .sec1-img2{
    display: block;
  }

  .sec1-txts{
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 8rem;
  }

  .cGroup{
    height: 38rem;
    width: 25rem;
  }

 

 
}

@media screen and (min-width:769px) and (max-width:1024px) and (max-height:800px){
  .sec1-txts{
    left: 5%;
  }

  .sec1-img{
    right: 0%;
  }
}

@media screen and (min-width:1500px){
  .sec1-img{
    width: 35vw;
  }

  .sec1-txts{
    font-size: 9rem;
  }

  .cGroup{
    height: 55rem;
    width: 38rem;
  }
}


